<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>myServlets.Accueil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hey</servlet-name>
        <servlet-class>myServlets.hey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hey</servlet-name>
        <url-pattern>/bonjour</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>myServlets.FormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
